.history
venv
api/__pycache__
*/__pycache__/*
__pycache__
.env
.env.*
api/.env
*/.env
*.pyc
.vercel

uv.lock

venv/
.venv/
.venv311/

.VSCodeCounter/

.ruff_cache
.mypy_cache

*/logs/

*.log

.idea


uv.lock

.terraform/
.terraform
*.tfstate
*.tfvars

.terraform.lock.hcl
main.tf

chroma-data/
