cloudinary==1.41.0
fastapi==0.115.6
PyMuPDF
httpx==0.28.1
motor
nltk==3.9.1
numpy
passlib==1.7.4
Pillow==11.0.0
pydantic==2.10.4
PyJWT==2.10.1
pymongo
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.0
sentence_transformers==3.3.1
spacy
sumy==0.11.0
transformers==4.47.1
uvicorn==0.34.0
pydantic[email]