<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <link rel="preload" as="image" href="https://api.heygaia.io/static/logo.pn
    {{ user_name }}
    <a
      href="mailto:{{ user_email }}"
      style="
        color: rgb(0, 187, 255);
        margin-top: 0.25rem;
        border-radius: 0.25rem;
        display: block;
        text-decoration-line: none;
      "
      target="_blank"
      >{{ user_email }}</a
    >
  </head>
  <body
    style="
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      background-color: rgb(255, 255, 255);
      padding: 1.75rem;
      font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="padding-bottom: 0.5rem"
    >
      <tbody>
        <tr>
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody style="width: 100%">
                <tr style="width: 100%">
                  <td data-id="__react-email-column" style="width: 100%">
                    <img
                      alt="GAIA logo"
                      height="35"
                      src="https://api.heygaia.io/static/logo.png"
                      style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                      "
                    />
                  </td>
                  <td align="right" data-id="__react-email-column">
                    <table
                      align="right"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                    >
                      <tbody style="width: 100%">
                        <tr style="width: 100%">
                          <td
                            data-id="__react-email-column"
                            style="padding-left: 8px; padding-right: 8px"
                          >
                            <a
                              href="https://heygaia.io"
                              style="
                                color: rgb(156, 163, 175);
                                text-decoration-line: none;
                              "
                              target="_blank"
                              >heygaia.io
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea" />
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        max-width: 42rem;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="margin-bottom: 1rem"
            >
              <tbody>
                <tr>
                  <td>
                    <h1 style="margin: 0px">{{ request_type_label }}</h1>
                    <p
                      style="
                        color: rgb(0, 187, 255);
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        margin-top: 16px;
                        margin-bottom: 16px;
                      "
                    >
                      #{{ ticket_id }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td>
                    <div style="margin-bottom: 1rem">
                      <p
                        style="
                          font-weight: 700;
                          color: rgb(55, 65, 81);
                          margin: 0px;
                          margin-bottom: 0.5rem;
                          font-size: 14px;
                          line-height: 24px;
                          margin-top: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                        "
                      >
                        Title
                      </p>
                      <p
                        style="
                          color: rgb(17, 24, 39);
                          background-color: rgb(243, 244, 246);
                          padding-left: 0.75rem;
                          padding-right: 0.75rem;
                          padding-top: 0.5rem;
                          padding-bottom: 0.5rem;
                          border-radius: 0.25rem;
                          margin: 0px;
                          font-size: 14px;
                          line-height: 24px;
                          margin-top: 0px;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                        "
                      >
                        {{ title }}
                      </p>
                    </div>
                    <div style="margin-bottom: 1rem">
                      <p
                        style="
                          font-weight: 700;
                          color: rgb(55, 65, 81);
                          margin: 0px;
                          margin-bottom: 0.5rem;
                          font-size: 14px;
                          line-height: 24px;
                          margin-top: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                        "
                      >
                        Description
                      </p>
                      <div
                        style="
                          background-color: rgb(249, 250, 251);
                          padding: 1rem;
                          border-radius: 0.5rem;
                          border-left-width: 4px;
                          border-left-color: rgb(56, 189, 248);
                        "
                      >
                        <p
                          style="
                            font-size: 14px;
                            line-height: 24px;
                            margin-top: 16px;
                            margin-bottom: 16px;
                          "
                        >
                          {{ description }}
                        </p>
                      </div>
                    </div>
                    <div>
                      <p
                        style="
                          font-weight: 700;
                          color: rgb(55, 65, 81);
                          margin: 0px;
                          margin-bottom: 0.5rem;
                          font-size: 14px;
                          line-height: 24px;
                          margin-top: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                        "
                      >
                        Submitted By
                      </p>
                      <p
                        style="
                          color: rgb(17, 24, 39);
                          background-color: rgb(243, 244, 246);
                          padding-left: 0.75rem;
                          padding-right: 0.75rem;
                          padding-top: 0.5rem;
                          padding-bottom: 0.5rem;
                          border-radius: 0.25rem;
                          margin: 0px;
                          font-size: 14px;
                          line-height: 24px;
                          margin-top: 0px;
                          margin-bottom: 0px;
                          margin-left: 0px;
                          margin-right: 0px;
                        "
                      >
                        {{user_name}}<a
                          href="mailto:{{user_email}}"
                          style="
                            color: rgb(0, 187, 255);
                            margin-top: 0.25rem;
                            border-radius: 0.25rem;
                            display: block;
                            text-decoration-line: none;
                          "
                          target="_blank"
                          >{{user_email}}</a
                        >
                      </p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr
              style="
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                width: 100%;
                border: none;
                border-top: 1px solid #eaeaea;
              "
            />
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="text-align: center"
            >
              <tbody>
                <tr>
                  <td>
                    <a
                      href="mailto:{{ user_email }}?subject=Re: [{{ ticket_id }}] {{ title }}"
                      style="
                        width: 100%;
                        border-radius: 0.5rem;
                        background-color: rgb(14, 165, 233);
                        padding-left: 12px;
                        padding-right: 12px;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: center;
                        font-weight: 600;
                        color: rgb(255, 255, 255);
                        line-height: 100%;
                        text-decoration: none;
                        display: inline-block;
                        max-width: 100%;
                        mso-padding-alt: 0px;
                      "
                      target="_blank"
                      >View &amp; Respond to Ticket</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                margin-top: 0.75rem;
                border-top-width: 1px;
                border-color: rgb(229, 231, 235);
              "
            >
              <tbody>
                <tr>
                  <td>
                    <p
                      style="
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: rgb(107, 114, 128);
                        text-align: center;
                        margin-top: 16px;
                        margin-bottom: 16px;
                      "
                    >
                      This email was automatically generated from your support
                      system.<br />Please respond promptly to maintain customer
                      satisfaction.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea" />
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="padding-top: 1.5rem; text-align: center"
    >
      <tbody>
        <tr>
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody style="width: 100%">
                <tr style="width: 100%">
                  <td align="center" data-id="__react-email-column">
                    <img
                      alt="GAIA logo"
                      height="35"
                      src="https://api.heygaia.io/static/logo.png"
                      style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                      "
                    />
                    <p
                      style="
                        margin-top: 0.75rem;
                        font-weight: 500;
                        font-size: 16px;
                        color: rgb(17, 24, 39);
                        margin-bottom: 0px;
                        line-height: 24px;
                      "
                    >
                      GAIA Labs Inc.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody style="width: 100%">
                <tr style="width: 100%">
                  <a
                    href="https://heygaia.io"
                    style="
                      font-size: 0.75rem;
                      line-height: 1rem;
                      color: rgb(0, 187, 255);
                      margin-top: 0.25rem;
                      margin-bottom: 0.25rem;
                      text-decoration-line: none;
                    "
                    target="_blank"
                    >heygaia.io</a
                  >
                  <p
                    style="
                      font-size: 0.75rem;
                      line-height: 1rem;
                      color: rgb(156, 163, 175);
                      margin-top: 0.25rem;
                      margin-bottom: 0.25rem;
                    "
                  >
                    support@heygaia.io
                  </p>
                  <p
                    style="
                      font-size: 0.75rem;
                      line-height: 1rem;
                      color: rgb(156, 163, 175);
                      margin-top: 0.5rem;
                      margin-bottom: 0.5rem;
                    "
                  >
                    © 2025 GAIA, All Rights Reserved
                  </p>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
